.top { 
  position: absolute;
  right: 50%;
}
.top-inner {
  text-align: center;
  left: 50%;
  position: relative;
}
form {
  text-align: right;
  line-height: 1.7em;
}
.badge { 
  max-width: 200px; 
  max-height: 200px;
}
.mt {
  margin-top: 36px;
}
.mb {
  margin-bottom: 36px;
}
.hmt {
  margin-top: 18px;
}
.load {
  font-size: smaller;
  line-height: inherit;
  vertical-align: baseline;
  color: #999;
}
.load img {
  height: 4px;
}
.servers {
  border-color: #c09853;
}
.servers.loaded {
  border-color: #468847;
}
.server-config thead {
  border-bottom: 1px solid #aaa;
  margin-bottom: 4px;
}
.server-config .add-control {
  border-top: 1px solid #aaa;
}
.server-config .add-control td {
  padding-top: 8px;
}
.server-config tbody tr:nth-child(2n) {
  background: #eee;
}
.server-config tbody tr.add-control {
  background: #fff;
}
.server-config th,
.server-config td {
  text-align: left;
  padding: 2px 8px;
}
.server-config .controls {
  padding-left: 24px;
}
.toggle {
  text-decoration: underline;
  font-size: smaller;
  color: #3a87ad;
}
