<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Badge Test</title>
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
  <a href="https://github.com/stenington/badgetest"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

  <div class="top mt">
    <div class="top-inner">
      <img class="badge" src="img/badge.png"/>
      <form class="mt">
        Issue <input id="badge-count" type="text" title="number of badges" value="1" /> badge(s) to
        <input id="email" type="text" placeholder="email" title="recipient email" /> on
        <span title="backpack server" class="servers"></span>
        <br/>
        using <span class="issue-method"></span>.
        <br />
        <label><input id="hashed" type="checkbox" title="to test hashed/unhashed email support" /> hash email</label>
        <label><input id="non-unique" type="checkbox" title="to test duplicate badge handling" /> don't uniquify</label>
        <label><input id="generatePNG" type="checkbox" title="to generate badge images" /> generate images</label>
        <br/>
        <div class="go-panel">
          <div class="loading">
            Loading from <span class="where"></span>...
            <img src="img/spinner.gif"/>
          </div>
          <div class="loaded">
            <input class="go" type="submit" value="Go"/>
          </div>
        </div>
      </form>
      <hr>
      <div class="advanced">
        <a class="toggle">Advanced options</a>
        <div class="toggled">
          <div class="panel">
            <h3>Generated badge images:</h3>
            <label>Size: <input id="image-size" class="right narrow" type="text" /> px</label>
          </div>
          <div class="panel server-controls">
            <h3>Servers:</h3>
            <table class="server-config">
              <thead>
                <tr><th>Name</th><th>Url</th><th></th></tr>
              </thead>
              <tbody>
                <tr class="add-control">
                  <td><input type="text" class="name" placeholder="name" /></td>
                  <td><input type="text" class="url" placeholder="issuer.js url" /></td>
                  <td class="controls"><input type="button" value="Add" class="add"/></td>
                </tr>
              </tbody>
            </table>
            <input class="hmt reset" type="button" value="Reset servers" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-area"></div>

  <script id="server-select-template" type="text/html">
    <select id="server-select">
      <% _.each(servers, function(server, index) { %>
      <option value="<%= index %>"><%= server.name %></option>
      <% }); %>
    </select>
  </script>

  <script id="server-list-template" type="text/html">
    <% _.each(servers, function(server, index) { %>
    <tr>
      <td><%= server.name %></td>
      <td><%= server.url %></td>
      <td class="controls">
        <input class="remove" type="button" value="Remove" data-index="<%= index %>"/>
      </td>
    </tr>
    <% }); %>
  </script>

  <script id="issue-methods-template" type="text/html">
    <select id="method-select">
      <% _.each(methods, function(method) { %>
      <option value="<%= method.key %>"><%= method.name %></option>
      <% }); %>
    </select>
  </script>

  <!-- empty script where we'll jam the Issuer API when loaded -->
  <script id="issuer-api"></script>
  
  <script src="vendor/es5-shim.js"></script>
  <script src="vendor/consolelog.min.js"></script>

  <script src="js/require-config.js"></script>
  <script src="vendor/require.min.js"></script>

  <script>
  define('main', function(require) {
    var Server = require('server');
    var ServerList = require('server-list');
    var IssuerAPI = require('issuer-api');
    var ServerSelect = require('views/server-select');
    var IssueSelect = require('views/issue-select');
    var ServerControls = require('views/server-controls');
    var TogglePanel = require('views/toggle-panel');
    var GoControl = require('views/go-panel');
    var config = require('config');
    var $ = require('jquery');

    $('#image-size').val(config.defaultBadgeImageSize);

    var firstVisit = (localStorage.getItem('badgetest-serverlist') === null);
    var servers = new ServerList(null, {
      defaults: config.defaultServers
    });
    if (firstVisit) {
      /* Before a user has any preferences in localStorage, 
         fetching will clobber the defaults with an empty list. 
         On subsequent site visits, an empty server list might 
         be valid (although pointless?).
       */
      servers.setDefault();
    }
    else {
      servers.fetch({
        error: function(servers) { 
          log('Error fetching servers, using defaults');
          servers.setDefault(); 
        }
      });
    }

    var issuerAPI = new IssuerAPI();
    issuerAPI.on('reload', function(serverName){
      log('[' + serverName + '] Reloading issuer API...');
    });
    issuerAPI.on('success', function(serverName) {
      log('[' + serverName + '] success!');
    });
    issuerAPI.on('error', function(serverName){
      log('[' + serverName + '] error.');
    });
    issuerAPI.on('abort', function(serverName){
      log('[' + serverName + '] abort.');
    });
    issuerAPI.on('unload', function(){
      log('Issuer API unloaded.');
    });

    var advancedOptions = new TogglePanel({
      el: $('.advanced'),
      startHidden: true
    });

    var goControl = new GoControl({
      el: $('.go-panel'),
      model: issuerAPI
    });
    goControl.on('issue', function(method, assertions) {
      issuerAPI.issue(method, assertions);
    });

    var serversView = new ServerControls({
      el: $('.server-controls'),
      collection: servers
    });

    var serverSelect = new ServerSelect({
      el: $('.servers'),
      templateEl: $('#server-select-template'),
      collection: servers
    });
    serverSelect.on('select', function(server) {
      issuerAPI.reloadFrom(server);
    });
    serverSelect.on('deselect', function() {
      issuerAPI.unload();
    });

    var issueSelect = new IssueSelect({
      el: $('.issue-method'),
      model: issuerAPI
    });

    serverSelect.render();
    serversView.render();
    issueSelect.render();

  });
  require(['main'], function(){});
  </script>
</body>
</html>